@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(249, 250, 251);
}

/* styles/globals.css 또는 해당 스타일 파일에 추가 */
@keyframes slide-in {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-20px);
    opacity: 0;
  }
}

.slide-in {
  animation: slide-in 0.2s ease forwards;
}

.slide-out {
  animation: slide-out 0.2s ease forwards;
}

/* 스크롤바 스타일 */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937; /* 스크롤바 트랙 색상 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* 스크롤바 핸들 색상 */
  border-radius: 10px;
  border: 2px solid #1f2937; /* 경계 */
}
