.datePicker {
  display: flex;
  align-items: center;
  border: 1px solid #e5e7eb; /* gray-200의 hex 코드 */
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%; /* 날짜 선택기의 너비를 100%로 설정 */
  height: 48px;
  padding: 0 4px; /* 좌우 패딩을 4px로 설정 (px-1에 해당) */

  &:focus {
    border: 2px solid #e5e7eb; /* focus 시 테두리 색상도 gray-200으로 설정 */
  }
}

.datePickerWrapper {
  width: 100%; /* wrapper의 너비를 100%로 설정 */
}

/* 모바일 화면에서 달력 팝업의 너비를 90%로 설정 */
@media (max-width: 640px) {
  .react-datepicker {
    width: 90%; /* 달력 팝업의 너비를 90%로 설정 */
  }
}
